@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f5f5f5;
    height: 100%;
}

button {
    border: 0;
    border-radius: 5px;
    margin-top: 15px;
    background: transparent;
}

label {
    display: flex;
}

h1 {
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -130px;    
}

h3 {
    margin: 14px 0;
}

/*Agrupo elementos de distintas secciones que comparten estilos*/
.productos-menu, .filtros-titulo-contenedor, .carrito-titulo-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*comienza header*/
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3)
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    max-width: 1400px;
    padding: 10px 20px;
}

.logo {
    width: 25px;
    margin-right: 10px;
}

.header-logo, .header-menu {
    display: flex;
    align-items: center;
}

.boton-carrito {
    font-size: 15px;
    margin: 0;
}

.boton-carrito > i {
    font-size: 20px;
    margin-right: 10px;
}

.header-banner {
    position: relative;
}

.header-banner img {    
    width: 100%;
    height: auto;
}

/*termina header, comienza main*/
main {
    display: flex;
    margin-top: 80px;
    max-width: 1400px;
}

/*comienza aside(filtros)*/
aside {
    display: flex;
    flex-direction: column;
    max-width: 20%;
    font-size: 12px;
    font-weight: 600;
}

#barra-busqueda {
    background-color: transparent;
    line-height: 40px;
    border: 0;
    border-bottom: 2px solid black;
    height: 40px;
    width: 400px;
    padding: 0 20px;
}

.fas.fa-search {
    position: relative;
    right: 25px;
    top: 10px;
    font-size: 18px;
}

.fa-star {
    color: #fbc02d;
}

/*termina aside, comienza seccion menu productos*/
section {
    display: flex;
    flex-direction: column;
}

.productos-seccion {
    width: 80%;
}

.filtros-contenedor {
    padding: 0 35px 15px;
}

.filtros-titulo-contenedor {
    margin-top: 20px;
}

.filtros-boton {
    padding: 0;
    margin: 0;
}

.productos-menu {
    background-color: white;
    margin: 0 10px 10px;
    padding: 25px 30px;
}

.boton-vista > i {
    font-size: 20px;
    margin-left: 15px;
}

/*termina menu productos, comienza seccion tabla productos*/
.productos-tabla {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;   
}
.producto-tarjeta {
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    margin: 10px;
    padding: 30px 25px;
    flex-grow: 1; 
}
.producto-imagen-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.producto-imagen {
    height: 100%;
    width: auto;
    margin: 0 auto;
}

.producto-precio {
    margin: 14px 0;
}

.producto-descripcion, .producto-detalles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producto-descripcion {
    padding: 0 20px;
}

.producto-comprar {
    padding: 20px;
}

.boton-comprar, .boton-vaciar {
    width: 100%;
    height: 40px;
}
/*termina main, comienza footer*/
footer {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 40px 10px 30px;
    margin-top: 80px;
    font-size: 14px;
}

.footer-contenido {
    display: flex;
    align-items: center;
}

/*termina footer, comienza secci'on carrito*/
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
}

.overlay > section {
    background-color: #f5f5f5;
    height: 100%;
    position: fixed;
}
.carrito-seccion {
    width: 300px;
    right: 0;
    top: 0;
    z-index: 1;
}

.boton-comprar .carrito {
    background-color: green;
}

.boton-vaciar {
    border: 1px solid red;
}

.carrito-seccion {
    align-items: center;
}

.carrito-producto-tarjeta > div {
    display: flex;
    justify-content: space-between;
}    

/*Termina secci'on carrito, comienza secci'on checkout*/
.checkout-seccion {
    width: 500px;
    right: 400px;
    top: 100px;
    z-index: 2;
}

.checkout-seccion > div {
    display: flex;
}

/*Clases especiales*/
.hidden {
    display: none;
}

.no-scroll {
    position: fixed;
}