@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f5f5f5;
    height: 100%;
}

button {
    border: 0;
    border-radius: 5px;
    margin-top: 15px;
    padding: 1px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

label {
    display: flex;
}

h1 {
    color: white;
    padding: 10px 25px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h3 {
    margin: 14px 0;
}

/*Agrupo elementos de distintas secciones que comparten estilos*/
section:not(.checkout-seccion), .carrito-botones-contenedor {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.productos-menu, .filtros-titulo-contenedor, .carrito-titulo-contenedor, .productos-vista-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#barra-busqueda, #nombre-apellido, #email {
    background-color: transparent;
    line-height: 40px;
    border: 0;
    border-bottom: 2px solid black;
    height: 40px;
    width: 100%;
    max-width: 300px;
    padding: 0 20px;
}

/*comienza header*/
#header-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.3)
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    max-width: 1400px;
    padding: 10px 20px;
}

.logo {
    width: 25px;
    margin-right: 10px;
}

.header-logo, .header-menu {
    display: flex;
    align-items: center;
}

.boton-carrito {
    font-size: 15px;
    margin: 0;
    background-color: transparent;
}

.boton-carrito > i {
    font-size: 20px;
    margin-right: 10px;
}

.header-banner {
    position: relative;
}

.overlay-header-banner {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header-banner img {    
    max-width: 100%;
    height: auto;
}

/*termina header, comienza main*/
main {
    display: flex;
    margin-top: 80px;
    max-width: 1400px;
}

/*comienza aside(filtros)*/
aside {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
}

.aside-filtros.boton-cerrar {
    display: none;
}

.boton-filtros-responsive {
    display: none;
}

.fas.fa-trash-alt {
    margin-right: 5px;
}

.fas.fa-search {
    position: relative;
    right: 25px;
    top: 10px;
    font-size: 18px;
}

.fa-star {
    color: #fbc02d;
}

/*termina aside, comienza seccion menu productos*/

.filtros-contenedor {
    padding: 0 35px 15px;
}

.filtros-contenedor label:not(.barra-busqueda) {
    align-items: center;
}

.filtros-contenedor label input {
    margin: 3px 10px 3px 3px
}

.filtros-titulo-contenedor {
    margin-top: 20px;
}

.filtros-boton-limpiar {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

.productos-menu {
    background-color: white;
    margin: 0 10px 10px;
    padding: 25px 30px;
}

.boton-vista {
    background-color: transparent;
    margin-top: 0;
}

.boton-vista > i {
    font-size: 20px;
    margin-left: 15px;
}

/*termina menu productos, comienza seccion tabla productos*/
.productos-tarjetas-contenedor {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;   
}

.producto-tarjeta {
    background-color: #fff;
    width: 270px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    margin: 10px;
    padding: 30px 25px;
    flex-grow: 1; 
    transition: box-shadow 0.5s;
}

.producto-tarjeta:hover {
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);;
}

.producto-imagen-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    overflow: hidden;
}

.producto-imagen {
    height: 100%;
    width: auto;
    margin: 0 auto;
    transition: 0.5s;
}

.producto-imagen:hover {
    transform: scale(1.5);
}

.producto-precio {
    margin: 14px 0;
}

.producto-descripcion, .producto-detalles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producto-descripcion {
    padding: 0 20px;
}

.producto-comprar {
    padding: 20px;
    width: 100%;
}

.boton-comprar {
    width: 100%;
}

.boton-comprar, .boton-vaciar, .boton-seguir-comprando {
    height: 50px;
    transition: background-color 0.3s;
} 

.boton-comprar:hover, .boton-seguir-comprando:hover {
    background-color: #D3D3D3;
}

/*termina main, comienza footer*/
footer {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 40px 10px 30px;
    margin-top: 80px;
    font-size: 14px;
}

.footer-contenido {
    display: flex;
    align-items: center;
}

/*termina footer, comienza secci'on carrito*/
.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
}

.carrito-titulo-contenedor {
    margin: 15px;
    width: 100%;
}

.boton-cerrar {
    font-size: 20px;
    margin-top: 0;
    background: none;
    border: none;
}

.carrito-seccion {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #f5f5f5;
    height: 100%;
    position: fixed;
    transform: translateX(100%);
    right: 0;
    top: 0;
    z-index: 1;
    transition: 0.3s;
}

.boton-comprar.carrito, .boton-finalizar {
    background-color: #4caf50;
    color: white;
}
.boton-comprar.carrito:hover, .boton-finalizar:hover {
    background-color: #388e3c;
}

.boton-vaciar {
    border: 1px solid red;
    color: #d32f2f;
}

.boton-vaciar:hover {
    color: white;
    background-color: red;
}

.carrito-seccion {
    align-items: center;
}

.contenedor-carrito-lleno {
    overflow-y: scroll;
}

.carrito-producto-tarjeta > div {
    display: flex;
    justify-content: space-between;
}    

/*Termina secci'on carrito, comienza secci'on checkout*/
.overlay.checkout {
    z-index: 1;
}
.checkout-seccion {
    background-color: #fff;
    height: 100%;
    width: 100%;
    max-width: 800px;
    padding: 40px 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.checkout-formulario-contenedor {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.checkout-formulario-contenedor > div {
    padding: 20px 20px 40px;
}

.checkout-formulario {
    width: 100%;
}

.formulario-datos-personales {
    margin-bottom: 20px;
}

.datos-personales {
    margin-top: 20px;
}

.datos-personales > label {
    flex-direction: column;
}

.datos-personales label input {
    margin-bottom: 20px;
}

.formulario-opciones-pago {
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;
}

.opciones-pago {
    display: flex;
    flex-direction: column;
}

.opciones-pago label {
    margin-bottom: 15px;
}

.opciones-pago label input {
    margin-right: 20px;
}

.checkout-resumen-contenedor {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    background-color: #f5f5f5;
}

.checkout-resumen {
    display: flex;
    justify-content: space-between;
}


.checkout-botones-acciones {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-top: 60px;
}

.checkout-botones-acciones button {
    margin-left: 20px;
    width: 200px;
}

/*Terminan clases especiales - comienzan estilos responsive*/
@media (min-width:850px) {
    .vista-en-columna {
        flex-direction: column;
    }
    
    .vista-horizontal {
        display: flex;
        width: 100%;
    }

    .vista-horizontal .producto-comprar {
        padding: 0;
    }
    
    .boton-comprar {
        width: 100%;
    }
    
    .vista-horizontal .boton-comprar {
        max-width: 200px;
    }

    .vista-horizontal .producto-descripcion, .producto-detalles {
        align-items: initial;
    }

    .vista-horizontal .producto-imagen-contenedor {
        min-width: 250px;
    }

}

@media (max-width:850px) {
    .productos-vista-contenedor {
        display: none;
    }

    .boton-filtros-responsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    }

    .fas.fa-filter {
        margin-right: 10px;
    }

    .producto-detalles-parrafo {
        display: none;
    }

    .aside-filtros.boton-cerrar {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
        width: 100%;
        background-color: #f5f5f5;
    }

    aside {
    background-color: #f5f5f5;
    height: 100vh;
    position: fixed;
    transform: translateX(100%);
    right: 0;
    top: 0;
    z-index: 1;
    transition: 0.3s;
    }

    .checkout-seccion {
        display: flex;
        flex-direction: column;
        right: 0;
        max-width: 500px;
        position: absolute;
        overflow-y: scroll;
    }

    .checkout-formulario-contenedor {
        flex-direction: column;
    }

}

@media (max-width:850px) and (min-width:651px) {
    .checkout-seccion {
    transform: none;
    top: revert;
    left: revert;
    }
}

@media (max-width:650px) {
    .checkout-seccion, .carrito-seccion {
        min-width: 100%;
    }

    .producto-tarjeta {
        max-width: 100%;
    }
    
}

@media (max-width:350px) {
    .checkout-seccion {
        position: relative;
    }
}

/*Comienzan clases especiales*/
.hidden {
    display: none;
}

.no-scroll {
    position: fixed;
}

.abierto {
    transform: translateX(0%);
}

.valor-con-descuento {
    color: green;
}

.valor-con-recargo {
    color: red;
}